@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}
html{
    scroll-behavior: smooth;
}
section{
    scroll-margin-top: 80px;
}
h1{
    padding-top: 25px;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: teal;
    padding-top: 20px;
}
li{
    font-size: 22px;
    padding-top: 20px;
}
p{
    padding-top: 10px;
    line-height: 1.7;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #D7D7D7;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #D7D7D7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 32px;
    color: #000000;
    text-decoration: none;
    font-weight: 700;
    padding-right: 800px;
}
.navbar a {
    position: relative;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #000000;
    transition: .3s;
}
.navbar a:hover:before {
    width: 100%;
}
.body-page{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 500px;
    flex: 1;
}
.logo-image{
    width: 3%;
    
}
footer{
    position: relative;
    bottom: 1px;
    background: #111;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
    color: #cacdd2;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}
.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}
.socials a:hover i{
    color: aqua;
}
.footer-bottom{
    background: #000;
    width: 99vw;
    padding-bottom: 40px;
    text-align: center;
}
.footer-bottom p{
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    padding: 1em;
 }
 .footer-bottom p a{
   color:#44bae8;
   font-size: 16px;
   text-decoration: none;
 }
 .footer-bottom span{
     text-transform: uppercase;
     opacity: .4;
     font-weight: 200;
 }
 main{
    flex: 1;
 }
